@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gochi+Hand&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* semantic color variables for this project */
:root {
  --main-text-color: rgb(255, 255, 255);
  --main-background-color: #0d131a;
  --header-font-family: "Caveat", cursive;
  --header-font-size: 3rem;
  --header-font-weight: 700;
  
  --nav-background: #0d131a;
  --section-font-family: "Handlee", cursive;
  --section-font-size: 1.8rem;
  --section-font-weight: 400;
  --section-font-color: rgb(255, 255, 255);
  
  --accent-color: #ff8a00;

  --about-tag-color: #ff8a00;
  --about-background-color: #0d131a;

  --experience-tag-color1: #ff8a00;
  --experience-tag-color2: #ff8a00;
  --experience-content-background: rgba(13, 19, 26, 0.8);
  --experience-font-color: rgb(255, 255, 255);
  --experience-divider-color: #ff8a00;

  --experience-background-gradient: linear-gradient(
    to Right,
    transparent,
    var(--experience-tag-color1),
    var(--experience-tag-color2),
    transparent
  );
  --experience-border-style: repeating-linear-gradient(
    -90deg,
    var(--experience-tag-color1) 0 5px,
    transparent 0 10px
  ) 50%/100% 2px no-repeat;

  --experience-background-gradient2 : linear-gradient(90deg, rgba(255, 138, 0, 0.1) 0%, rgba(13, 19, 26, 0.8) 100%);
  --experience-background-gradient3 : linear-gradient(90deg, rgba(13, 19, 26, 0.8) 0%, rgba(255, 138, 0, 0.1) 100%);

}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--main-text-color);
  background-color: #0d131a;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}
