@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* semantic color variables for this project */
:root {
  --main-text-color: rgb(48, 48, 48);
  --main-background-color: #000000;
  --header-font-family: "Caveat", cursive;
  --header-font-size: 2.5rem;
  --header-font-weight: 700;

  --section-font-family: "PT Serif", serif;
  --section-font-size: 1.5rem;
  --section-font-weight: 400;
  --section-font-color: rgb(0, 0, 0);

  --about-tag-color: yellowgreen;
  --about-background-color: rgb(206, 240, 131);

  --experience-tag-color1: rgb(113, 183, 113);
  --experience-tag-color2: rgb(73, 121, 73);
  --experience-content-background: rgb(255, 251, 0);
  --experience-font-color: rgb(0, 65, 0);
  --experience-divider-color: rgb(185, 231, 36);
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--main-text-color);
  background-color: rgb(206, 240, 131);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
